.Game {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 200px;
  padding-bottom: 10vh;
}
/* .Game\:set .Player:first-child {
  transform: translateX(200%)
}
.Game\:set .Player:last-child {
  transform: translateX(-200%)
} */