.Player {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: white;
  transition: 500ms cubic-bezier(0,1.01,.49,1.01);
}
.Player img {
  display: block;
  /* height: 100px; */
}
.Player:first-child {
  /* background-color: blue; */
  transform: translateX(-200%)
}
.Player:last-child {
  /* background-color: red; */
  transform: translateX(200%)
}
/* .Player\:faulty {
  background-color: gray !important;
}
.Player\:winner {
  background-color: green !important;
}
.Player\:failed {
  background-color: black !important;
} */