.Player {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  color: white;
  transition: 500ms cubic-bezier(0,1.01,.49,1.01);
}
.Player:first-child {
  background-color: blue;
  transform: translateX(-200%)
}
.Player:last-child {
  background-color: red;
  transform: translateX(200%)
}
.Player\:faulty {
  background-color: gray !important;
}
.Player\:winner {
  background-color: green !important;
}
.Player\:failed {
  background-color: black !important;
}