/* Main styles */
.NinjaDuel {
  display: flex;
  flex-flow: column;
  padding: 2em;
  width: 75vw;
  height: 75vh;
  background: #EEE;
}

.Dojo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Dojo [class*="P"] {
  width: 75px;
  height: 75px;
  transition: 500ms ease-out;
}

.P1 {
  background-color: blue;
  transform: translateX(-200%)
}

.P2 {
  background-color: red;
  transform: translateX(200%)
}

.Dojo--idle .P1 {
  transform: translateX(200%)
}

.Dojo--idle .P2 {
  transform: translateX(-200%)
}

.Dojo--idle [class*="P"].Winner {
  background-color: green;
}
.Dojo--idle [class*="P"].Loser {
  background-color: gray;
}

.Counter {
  display: flex;
  justify-content: space-around;
}

.Message {
  text-align: center;
}
.Message hr {
  margin: 2em 0;
}
.Message p {
  margin: 0;
  font-size: 2em;
}