/* Resets */
* {
  box-sizing: border-box;
  appearance: none;
}
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
}
#root {
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center; 
  background: #0C0C0C url('./assets/bg.jpg') center no-repeat;
  background-size: auto 100%;
  font-family: 'Shark Made In Japan';
}